/* Centrer la carte dans la page */
mat-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color:rgb(253, 196, 255);

  }
  
  /* Centrer les éléments du formulaire */
  form {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espace entre les champs */
    
  }
  
  /* Style des boutons */
  button {
    width: 100%;
    background-color: black;
  }

  